/* .pokemon {
    position: fixed;
    bottom: 5%;
    width: 140px;
    pointer-events: none;
    z-index: 1;
} */

/* Walking on the Grass */
.pokemon {
    position: fixed;
    bottom: 50px;
    width: 120px;
    pointer-events: none;
    z-index: 5;
}

@keyframes walk {
    from { transform: translateX(0); }
    to { transform: translateX(120vw); }
}